<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <div class="card-container1">
    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 1" src="assets/1.png" />
      </div>
      <p class="card-caption">Savory food</p>
    </ion-card>

    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 2" src="assets/2.png" />
      </div>
      <p class="card-caption"> Desserts</p>
    </ion-card>
