<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Set Meals</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card>
      <a class="custom-link" href="vegan">
      <ion-img src="assets/set1.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Vegan Meal</ion-card-title>
      </ion-card-header>
      </a>
    </ion-card>

    <ion-card>
      <a class="custom-link" href="picky">
      <ion-img src="assets/set2.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Picky Eater</ion-card-title>
      </ion-card-header>
    </a>
        </ion-card>
  </div>
</ion-content>
