
<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Payment Successful</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center success-content">
  <div class="success-container">
    <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
    <h2>Congratulations!</h2>
    <p>Your payment was successful. Thank you for your purchase!</p>

    <ion-button expand="full" color="success" routerLink="/tabs/tab1" class="explore-button">
      Continue Exploring
    </ion-button>
  </div>
</ion-content>

