.quantity-buttons-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.quantity-buttons-left ion-button {
  background-color: #da7613;
  color: white;
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.quantity {
  margin: 0 10px;
}

.total {
  position: fixed;
  left: 326px; 
  bottom: 72px; 
  color: #da7613;
  font-family: raleway medium 500;

}

.total1 {
  position: fixed;
  right: 248px; 
  bottom: 72px; 
  font-family: raleway medium 500;
}

.checkout {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
  width: 60%;
  margin-left: 20%;
  margin-right: 30%;
  color: white;
}

.quantity2 {
  color: white;
}

.divider-line {
  border-top: 1px solid #ccc;
  bottom: 72px; 
}
