<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="item.imageUrl" alt="Item Image">
        </ion-avatar>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>Price: £{{ item.price }}</p>
        </ion-label>     <ion-buttons class="quantity-buttons-left">
          <ion-button class="quantity2"fill="clear"  (click)="decreaseQuantity(item)">-</ion-button>
          <p class="quantity">{{ item.quantity }}</p>
          <ion-button class="quantity2" fill="clear" (click)="increaseQuantity(item)">+</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="danger" (click)="deleteItem(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
<ion-item-options side="end">
  <ion-item-option color="danger" expandable>
  </ion-item-option>
</ion-item-options>
    </ion-item-sliding>
  </ion-list>
<div class="divider-line">
  <ion-row>
    <ion-col>
      <p class="total1">Total ammount:</p>
      <p class="total"> £{{ totalAmount }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button class="checkout" expand="block" color="primary" (click)="checkout()">Checkout</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
