.quantity-buttons-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  .quantity-buttons-left ion-button {
    background-color: #da7613;
    color: white;
    border: none;
    padding: 2px 8px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .quantity {
    margin: 0 10px;
  }
  .total{
    position: fixed;
    left: 1;
    bottom: 12%;
    right: 0;
  }
  .total1{
    position: fixed;
    left: 0;
    bottom: 12%;
    right: 0;
  }

  .checkout{
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 30%;
    color: white;
  }
  .quantity2{
    color:white;
  }
  .divider-line {
    border-top: 1px solid #ccc; /* Change the color as desired */
    padding-top: 1vh; /* Adjust the padding as needed */
    margin-top: 1vh;
  }