<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="user-profile-card">
    <ion-avatar class="profile-avatar">
      <ion-img src="/assets/h.png"></ion-img>    </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{ userProfile.username }}</ion-card-title>
      <ion-card-subtitle>{{ userProfile.email }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-note slot="end">{{ userProfile.name }}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-note slot="end">{{ userProfile.phone }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="track-order-card">
    <ion-card-header>
      <ion-card-title>Track Order</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Order ID</ion-label>
          <ion-note slot="end">123456</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Status</ion-label>
          <ion-note slot="end">{{ orderStatus }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
