<ion-header>
  <ion-toolbar>
    <ion-title class="header-font">Chef Oink</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="onSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let item of searchResults">
      <ion-avatar slot="start">
        <img [src]="item.image" alt="Item Image">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!searchTerm" class="no-search">
    <img src="assets/h.png" alt="Placeholder Image" class="small-image">
    <p class="message">
      Explore yummy and healthy food options that kids will love!
      Get delicious food for your little foodies.
    </p>
  </div>

  <ion-list *ngIf="searchResults.length === 0 && searchTerm">
    <ion-item>
      <ion-label>
        No results found for "{{ searchTerm }}"
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="searchTerm && searchResults.length === 0">
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.image" alt="Item Image">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
