@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-font {
  font-family: 'Lobster', cursive;
  font-size: 70px; 
  margin-bottom: 20px; 
}
.header-font {
  font-family: 'raleway';
  font-size: 20px; 
  margin-bottom: 1%; 
  margin-left: 2%;
}