@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-font {
  font-family: 'Lobster', cursive;
  font-size: 70px; 
  margin-bottom: 20px; 
}
.card-container1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-top: 5%;
}

.custom-card1{
  flex: 1;
  max-width: 30%;
  margin: 0 5px;
}

.image-wrapper {
  height: 120px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.card-caption {
  text-align: center;
  margin: 3px 0;
  padding-bottom: 5%;
  font-family: raleway;
font-style: Bold;
}

.Food{
  max-width: 90%; 
  height: 191px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
}

.slide {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 10px; 
}

.scroll-container {
  display: flex;
  overflow-x: auto; 
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch; 
  margin-top: 20px; 
}

.scroll-container ion-card {
  flex: 0 0 auto;
  margin-right: 10px; 
}

