<div>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/HealthyFood.png" />
  </ion-card>

  <div class="card-container1">
    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 1" src="assets/1.png" />
      </div>
      <p class="card-caption">Savory food</p>
    </ion-card>

    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 2" src="assets/2.png" />
      </div>
      <p class="card-caption"> Desserts</p>
    </ion-card>

    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 3" src="assets/3.png" />
      </div>
      <p class="card-caption">Set Meals</p>
    </ion-card>
  </div>
</div>
