<ion-content>
  <div class="content-wrapper">
    <div class="location-selector">
      <ion-icon name="location-sharp"></ion-icon>
      <select id="location-selector" [(ngModel)]="selectedLocation">
        <option value="default">Choose your location</option>
        <option value="malta">Malta</option>
        <option value="another-location">Another Location</option>
      </select>
    </div>
  <div>
  <div>
  <ion-card class="Food">
    <img alt="Silhouette of mountains" src="assets/HealthyFood.png" />
  </ion-card>
</div>

  <div class="card-container1">
    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 1" src="assets/1.png" />
      </div>
      <p class="card-caption">Savory food</p>
    </ion-card>

    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 2" src="assets/2.png" />
      </div>
      <p class="card-caption"> Desserts</p>
    </ion-card>

    <ion-card class="custom-card1">
      <div class="image-wrapper">
        <img alt="Image 3" src="assets/3.png" />
      </div>
      <p class="card-caption">Set Meals</p>
    </ion-card>
  </div>
</div>
<h1 class="header-font">Most Popular</h1>
<div class="scroll-container">
  
  <ion-card class="custom-card1">
    <a class="custom-link" href="cookie.html">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/8.png" />
    </div>
    <p class="card-caption">Beef patty</p>
  </a>
  </ion-card>

  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/4.png" />
    </div>
    <p class="card-caption">suasage roll</p>
  </ion-card>

  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/5.png" />
    </div>
    <p class="card-caption">Veggie patty</p>
  </ion-card>
  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/6.png" />
    </div>
    <p class="card-caption">Spinach patty</p>
  </ion-card>
  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/7.png" />
    </div>
    <p class="card-caption">Meat pie</p>
  </ion-card>
</div>
<h1 class="header-font">Recent Added</h1>
<div class="scroll-container">
  
  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/9.png" />
    </div>
    <p class="card-caption">Set Meal 2</p>
  </ion-card>

  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/10.png" />
    </div>
    <p class="card-caption">Set Meal 2</p>
  </ion-card>

  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/11.png" />
    </div>
    <p class="card-caption">Set Meal 2</p>
  </ion-card>
  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/6.png" />
    </div>
    <p class="card-caption">Set Meal 2</p>
  </ion-card>
  <ion-card class="custom-card1">
    <div class="image-wrapper">
      <img alt="Image 4" src="assets/7.png" />
    </div>
    <p class="card-caption">Set Meal 2</p>
  </ion-card>
</div>

<ion-card class="custom-horizontal-card">
  <ion-card-content>
    <div class="horizontal-card-content">
      <div class="text-section">
        <p>Customize Your Own Meal</p>
      </div>
      <div class="image-section">
        <ion-img src="/assets/h.png"></ion-img>
      </div>
    </div>
  </ion-card-content>
</ion-card>
</div>
</ion-content>
