<ion-header>
  <ion-toolbar>
    <ion-title>
      Customize  Meal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card-subtitle class="ion-text-center">
    Choose 4 savory items and 1 dessert
  </ion-card-subtitle>

  <ion-card *ngFor="let item of savoryItems" (click)="toggleItem(item)">
    <img [src]="item.image" alt="{{ item.name }}">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox [(ngModel)]="item.selected"></ion-checkbox>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of dessertItems" (click)="toggleItem(item)">
    <img [src]="item.image" alt="{{ item.name }}">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox [(ngModel)]="item.selected"></ion-checkbox>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="submitSelection()">Add to cart</ion-button>
</ion-content>
