.custom-card {
    height: 70%;
    margin-bottom: 8px; 
  }
  
  ion-card-title {
    font-size: 16px;
    margin-bottom: -20px; 
  }
  
  ion-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-checkbox {
    margin: 0;
  }
  