<ion-header>
  <ion-toolbar>
    <ion-title>Savory Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Savory Items section -->
  <div class="savory-items-section">
    <ion-card>
      <ion-img src="assets/savory_item_1.jpg"></ion-img>
      <ion-card-header>
        Savory Item 1
      </ion-card-header>
      <ion-card class="custom-card1">
        <div class="image-wrapper">
          <img alt="Image 1" src="assets/1.png" />
        </div>
        <p class="card-caption">Savory food</p>
      </ion-card>
  
    </ion-card>
