<ion-header>
  <ion-toolbar>
    <ion-title>
      Customize Meal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card-subtitle class="ion-text-center">
    Choose 4 savory items
  </ion-card-subtitle>

  <ion-row>
    <ion-col *ngFor="let item of savoryItems" size="6">
      <ion-card class="custom-card" [class.selected]="item.selected" (click)="toggleItem(item)">
        <img [src]="item.image" alt="{{ item.name }}">
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-checkbox [(ngModel)]="item.selected"></ion-checkbox>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card-subtitle class="ion-text-center">
    Choose 1 dessert
  </ion-card-subtitle>

  <ion-row>
    <ion-col *ngFor="let item of dessertItems" size="6">
      <ion-card class="custom-card" [class.selected]="item.selected" (click)="toggleItem(item)">
        <img [src]="item.image" alt="{{ item.name }}">
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-checkbox [(ngModel)]="item.selected"></ion-checkbox>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card-subtitle class="ion-text-center">
    Customize Meal Cost: £8.50 
  </ion-card-subtitle>
  
  <ion-button (click)="submitSelection()">Add to cart</ion-button>