<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Savoury</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-container">
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="sausageroll">
            <ion-img src="assets/4.png"></ion-img>
            <ion-card-header>
              <ion-card-title> Sausage roll</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="veggie">
            <ion-img src="assets/5.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Veggie Patty</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="spinach">
            <ion-img src="assets/6.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Spinach Patty</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="meatpie">
            <ion-img src="assets/7.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Meat<br> Pie</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="cookie">
            <ion-img src="assets/8.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Beef Patty</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="beet">
            <ion-img src="assets/9.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Beetroot Patty</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="fish">
            <ion-img src="assets/10.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Fish Fingers</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <a class="custom-link" href="pnut">
            <ion-img src="assets/11.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Peanut Swirl</ion-card-title>
            </ion-card-header>
          </a>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
